@font-face {
  font-family: "Shentox";
  src: url("//db.onlinewebfonts.com/t/5c773d1586db24bd45dfd4af3a4542e7.eot");
  src:
    url("//db.onlinewebfonts.com/t/5c773d1586db24bd45dfd4af3a4542e7.eot?#iefix")
    format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5c773d1586db24bd45dfd4af3a4542e7.woff2")
    format("woff2"),
    url("//db.onlinewebfonts.com/t/5c773d1586db24bd45dfd4af3a4542e7.woff")
    format("woff"),
    url("//db.onlinewebfonts.com/t/5c773d1586db24bd45dfd4af3a4542e7.ttf")
    format("truetype"),
    url("//db.onlinewebfonts.com/t/5c773d1586db24bd45dfd4af3a4542e7.svg#Shentox")
    format("svg");
}

@font-face {
  font-family: avalon-bold;
  src: url(fonts/avalon-bold.woff);
}

@font-face {
  font-family: ARSMaquettePro-Light;
  src: url(fonts/ARSMaquettePro-Light.ttf);
}

@font-face {
  font-family: ARSMaquettePro-Regular;
  src: url(fonts/ars-maquette-regular.woff);
}
