header {
  display: inline-flex;
  position: fixed;
  top: 1px;
  width: 100%;
  /* height: max-content; */
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.conateiner1 {
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.horizontal-line {
  display: inline;
  visibility: visible;
  color: #f42;
  margin-left: 10px;
  margin-right: 10px;
}

.about {
  order: 1;
  font-weight: 600;
}

.firstheader {
  display:block;
  flex-direction: row;
  visibility: visible;
  background-color: black;
  height: 30px;
  justify-content: space-between;
  margin-top: -1px;
}

.first-links {
  order: 1;
  margin-left: 10px;
  margin-top: 5px;
}

.last-links {
  order: 2;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.nav-links {
  margin: 5px;
  color: #fff9;
  text-decoration: none;
  font-size: 13px;
}

.firstheader a {
  font-family: ARSMaquettePro-Light, Times, serif;
  color: #fff9;
  font-size: 13px;
}

.fa-search {
  color: #ccc;
  transform: scaleX(-1);
}

.nav-links:hover {
  color: #fff;
}

.firstword {
  color: #fff;
  font-size: 13px;
  margin: 5px;
  text-decoration: none;
}

.logo {
  visibility: hidden;
}

.secondheader {
  position: relative;
}

.secondheader a {

}

.icons {
  margin-left: auto;
  float: right;
  margin-right: -20px;
  width: 6.5%;
}

.icons a {
  width: 1px;
  height: 1px;
}

.thirdheader {
  text-align: left;
  height: fit-content;
}

.thirdheader p {
  margin-left: 15px;
  color: black;
  font-size: 14px;
  font-family: 'ARSMaquettePro-Regular';
}

.date {
  visibility: hidden;
}

.unvisible {
  visibility: visible;
  display: table-row;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 15px;
  color: #666;
}

.unvisible:hover {
  color: #000;
}

.fa-bars {
  display: none;
  visibility: hidden;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 120%;
  height: 420px;
  margin-bottom: 200px;
}

.mini-container1 {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 1)
    ),
    url(./next-web-images/next-web1.jpg);
  order: 1;
  width: 64%;
  height: 410px;
  display: grid;
  grid-template-rows: 2% 43% 55%;
  margin-top: 130px;
}

.mini-container1 .item1 {
  grid-row-start: 3;
}

.item1 {
  margin-top: 30px;
}

.item2,
.item3 {
  margin: auto 10px auto 10px;
}

.mini-container2,
.mini-container3 {
  height: 200px;
}

.mini-container1 .highlight-title {
  font-size: 35px;
  line-height: 40px;
  grid-row-start: 3;
  width: 20px;
}

.mini-container-1-2 {
  width: 35%;
  order: 2;
  float: right;
  margin: -430px auto auto -10px;
}

.mini-container2 .highlight-title,
.mini-container3 .highlight-title {
  font-size: 20px;
}

.container3-items-row1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-images-1,
.colors,
.container-images3,
.container-images-2,
.container-images-3 {
  width: 95%;
}

footer{
  width: 100%;
}

.footer1 {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  background-color: #131313;
  height: 200px;
}

.footer {
  background-color: #000;
  height: 97px;
  align-items: center;
}

.footer-icons {
  grid-row-start: 1;
  padding-top: 50px;
  vertical-align: middle;
}

.footer img {
  width: 60px;
  height: 30px;
}

.footer-logo{
    margin:43px 14px 0px 14px;
}

.stackpath{
    margin:20px 10px -12px 10px;
}

.footer-icons i {
  font-size: 16px;
  padding: 12px;
  color: white;
  margin-left: -2px;
  margin-top: -3px;
}

.icon {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #333;
  margin: 7px;
  border: 2px solid #333;
  align-items: center;
}

.icon:hover {
  background-color: #000;
}

.lasts-links {
  grid-row-start: 2;
  margin-left: 78px;
}

.lasts-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
}

.lasts-links a:hover {
  color: white;
}

footer{
  width: 100%;
}

.footer span {
  color: #aaaa;
  font-size: 13px;
}

.footer-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-page img {
  order: 1;
}

.footer-page span {
  order: 2;
  margin-top: 25px;
}