@import url(//db.onlinewebfonts.com/c/5c773d1586db24bd45dfd4af3a4542e7?family=Shentox);

body {
  margin: 1px;
  overflow-x: hidden;
  position: relative;
}

header {
  display: flex;
  position: sticky;
  top: 1px;
  width: 100%;
  flex-direction: column;
}

.latest-title a {
  margin-top: -20px;
}

.story-title a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-family: ARSMaquettePro-Regular;
  font-size: 14px;
}

.firstheader {
  display: none;
  visibility: hidden;
}

.unvisible,
.unvisibles {
  display: none;
  visibility: hidden;
}

.secondheader {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  order: 1;
}

.logo {
  order: 1;
  height: 40px;
  width: 70px;
  background-color: black;
}

.logo img {
  height: 35px;
  width: 60px;
}

.secondheader .icons {
  order: 2;
  right: 0;
  font-size: 18px;
}

.thirdheader {
  width: 100%;
  background-color: #fd3;
  order: 2;
}

.container-images3 a,
p {
  color: rgb(100, 99, 99);
  font-size: 14px;
  text-decoration: none;
}

.thirdheader p {
  margin-left: 10%;
  color: #000;
}

.fa-search {
  color: #000;
}

.fa-bars {
  margin: 10px;
  color: #f42;
  margin-right: 20px;
}

.footer1 {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  background-color: #131313;
}

.footer {
  background-color: #000;
  height: 97px;
  align-items: center;
}

.footer-icons {
  text-align: center;
  grid-row-start: 1;
  padding-top: 40px;
  padding-bottom: 30px;
  vertical-align: middle;
}

.footer-logo {
  width: 40px;
  height: 20px;
  margin: auto 4px -5px auto;
}

.stackpath {
  margin: 15px 10px -11px 2px;
  width: 60px;
  height: 30px;
}

.footer-icons i {
  font-size: 16px;
  padding: 12px;
  color: white;
  margin-left: -2px;
  margin-top: -3px;
}

.icon {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #333;
  margin: auto 1px auto 1px;
  border: 2px solid #333;
  align-items: center;
}

.icon:hover {
  background-color: #000;
}

.lasts-links {
  text-align: center;
  grid-row-start: 2;
  margin-top: 30px;
}

.lasts-links a {
  font-family: "Shentox", sans-serif;
  font-weight: 500;
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
  margin: auto 4px auto auto;
}

.title-1 a {
  font-family: ARSMaquettePro-Regular, sans-serif;
  margin-left: 100px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.article-author2 a {
  font-family: ARSMaquettePro-Regular, sans-serif;
  font-size: 13px;
  color: #aaa;
}

.page1 a {
  font-family: ARSMaquettePro-Regular, sans-serif;
  line-height: 18px;
  font-size: 12px;
}

.article-author a {
  font-family: ARSMaquettePro-Regular, sans-serif;
  font-size: 13px;
  color: #aaa;
}

.lasts-links a:hover {
  color: white;
}

footer {
  text-align: center;
  width: 100%;
}

.footer span {
  color: #aaa;
  font-size: 13px;
}

.footer-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.footer-page img {
  order: 1;
}

.footer-page span {
  order: 2;
  margin-top: 25px;
}

.conateiner1 {
  width: 100%;
  max-width: 100%;
}

.last-word {
  color: #aaa;
  text-decoration: none;
}

.container1 {
  display: grid;
  grid-template-rows: 100%;
  align-self: center;
  margin: auto;
  margin-bottom: 250px;
}

.mini-container2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url(./next-web-images/next-web2.webp);
  height: 180px;
  width: 100%;
  background-position: center;
  align-content: center;
}

.mini-container1,
.mini-container2,
.mini-container3 {
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-rows: 40% 60%;
}

.mini-container1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url(./next-web-images/next-web1.jpg);
  height: 180px;
  width: 100%;
  margin-top:-1px;
  background-position: center;
  align-content: center;
}

.mini-container3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url(./next-web-images/next-web3.webp);
  height: 180px;
  width: 100%;
  background-position: center;
  align-content: center;
  margin-bottom: 250px;
}

.highlight-title {
  font-size: 20px;
  color: #fff;
  font-family: "Anton", sans-serif;
  font-weight: 800;
  letter-spacing: -0.015em;
  line-height: 20px;
  margin-bottom: 1px;
  text-decoration: none;
}

.item1 {
  float: left;
  margin-left: 10px;
  grid-row-start: 2;
  vertical-align: text-bottom;
}

.mini-container1 .item1 {
  grid-row-start: 2;
}

.mini-container1 .article-author,
.mini-container3 .article-author{
  margin-top: -35px;
}

.TNW-logo,
.date {
  display: none;
  visibility: hidden;
}

.article-author {
  color: #aaa;
  font-family: ARSMaquettePro-Regular, sans-serif;
  font-size: 13px;
  padding-top: 18px;
}

.author {
  color: #aaa;
  text-decoration: none;
}

.container4-mini p,
.author {
  color: #aaa;
}

.author:hover {
  color: #fff;
}

.container-titles {
  color: #f42;
  font-size: 28px;
  font-family: avalon-bold, sans-serif;
  text-decoration: none;
  font-weight: 800;
}
.container-titles2 {
  color: #f42;
  font-size: 28px;
  font-family: avalon-bold, sans-serif;
  text-decoration: none;
  font-weight: 800;
}

.container-titles:hover {
  color: black;
}

.horizontal-line {
  display: none;
  visibility: hidden;
}

.about {
  color: #f42;
  text-decoration: none;
}

.about:hover {
  color: black;
}

.latest-title img {
  height: 109px;
  width: 100%;
  margin-right:5px;
  grid-column-start: 2;
  margin-top: -40px;
}

.container4-mini img {
  width: 80px;
  height: 80px;
  order: 1;
}

.container3-items-row1 .container-images3 img {
  width: 100%;
  height: 150px;
}

.container3 {
  margin: 20px;
  margin-bottom: 200px;
}

.fa-tag,
.fa-briefcase {
  margin: 5px;
  color: black;
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

.container-images3 .hover:hover {
  color: black;
}

.container-images3 .page1 {
  margin-left: 15px;
}

hr {
  color: #ffccc3;
}

.container-images {
  width: 100%;
  margin-bottom: 20px;
}

.colors {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
}

.orange {
  order: 1;
  height: 40px;
  width: 100%;
  background-color: #f42;
}

.pink {
  order: 2;
  height: 50px;
  width: 100%;
  background-color: #f7c5bb;
  margin-top: -58px;
}

.title-1 {
  margin-top: -35px;
  margin-left: 85px;
}

.price {
  font-family: "ARSMaquettePro-Regular", sans-serif;
  margin-top: 5px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}

.type {
  text-decoration: none;
  color: #555;
}

.type p {
  font-family: "Shentox", sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.04em;
  margin-top: 2px;
}

.title-2 {
  margin-left: 85px;
  margin-top: -45px;
}

.container-images3 {
  background-color: #faeeeb;
  height: 180px;
  width: 100%;
  margin-top: -15px;
  margin-bottom: 20px;
}

.img {
  height: 60px;
  width: 60px;
  margin: 10px;
  margin-top: -56px;
  padding-top: 10px;
}

.container2 {
  margin: 60px 10px 60px 10px;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  margin-right: 30px;
}

.container2-1 {
  width: 100%;
  height: 20%;
  margin: 10px;
}

.background,
.background1,
.background2,
.background3,
.background4,
.background5,
.background6,
.background7,
.background8 {
  width: 94%;
  height: 300px;
  margin-right: 30px;
  display: grid;
  grid-template-rows: 55% 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-image:
  linear-gradient(to bottom , rgb(255,255,255,0.1), rgb(0,0,0,1)),
   url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1280px-GameStop_Globen-e1611550531323-368x276.jpg");
}

.background1 {
  background-image:
  linear-gradient(to bottom , rgb(255, 255, 255, 0.1), rgb(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Snag_3c8ecdc-368x276.png");
}

.background2 {
  background-image:
  linear-gradient(to bottom , rgb(255, 255, 255, 0.1), rgb(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2015/03/MacBook-USB-C-Feat-Img-730x365.jpg");
}

.background3 {
  background-image:
  linear-gradient(to bottom , rgb(255, 255, 255, 0.1), rgb(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647im_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/vintage-robot-368x276.jpg");
}

.background4 {
  background-image:
  linear-gradient(to bottom , rgb(255, 255, 255, 0.1), rgb(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/Untitled-design-13-368x276.png");
}

.background5 {
  background-image:
  linear-gradient(to bottom , rgb(255, 255, 255, 0.1), rgb(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/open-source-code-gq-368x276.png");
}

.background6 {
  background-image:
  linear-gradient(to bottom, rgb(255, 155, 255, 0.1), rgb(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647im_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/zoom-fundraising-gq-368x276.png");
}

.background7 {
  background-image:
  linear-gradient(to bottom, rgb(255, 155, 255, 0.1), rgb(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647im_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/toyota-suv-new-ev-car-future-electric-japan-368x276.jpg");
}

.background8 {
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0,0,0,1)),
  url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647im_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/amplified-368x276.jpg");
}


.item2 {
  grid-row-start: 2;
  margin-left: 10px;
}

.popular {
  color: #fff;
  margin-bottom: -20px;
  font-family: "Shentox";
  font-size: 13px;
  font-weight: 500;
}

.popular-title {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.popular-title h2 {
  font-family: ARSMaquettePro-Regular;
  font-size: 20px;
}

.popular-title:hover {
  text-decoration: underline;
}

.item2 .article-author {
  margin-top: -20px;
}

.latest-title {
  width: 94%;
  height: 110px;
  background-color: #f3d5cf;
  display: grid;
  grid-template-columns: 75% 25%;
}

.latest-title p {
  font-family: "Shentox";
  font-size: 13px;
}

.latest-title-1,
.latest-title-2 {
  color: #f42;
  margin-left: 10px;
  grid-column-start: 1;
}

.latest-title-2 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: ARSMaquettePro-Regular;
}

.latest-title-2:hover{
  text-decoration: underline;
}

.ul-li-items {
  width: 100%;
  float: left;
  margin-left: -20px;
  color: #f42;
}

.ul-li-items ul li {
  font-size: 13px;
  font-family: ARSMaquettePro-Regular;
  line-height: 25px;
}

.ul-li {
  text-decoration: none;
  color: #666;
}

.ul-li:hover {
  color: #000;
}

.container4 {
  width: 100%;
  margin: 10px;
  margin-bottom:200px;
}

.container4-mini {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.story-title {
  order: 2;
  margin-left: 100px;
  margin-top: -80px;
}

.story-title a:hover {
  color: #f42;
  text-decoration: underline;
}

.container4-mini .article-author {
  margin-left: 100px;
}

.container4-mini .author:hover {
  color: #000;
}

.add p {
  font-family: ARSMaquettePro-Light;
  font-size: 16px;
  font-weight: 700;
}

.News{
  margin-left: 20px;
}

.container4 .article-author{
  margin-top: -15px;
}

.Deals{
  margin-left: 20px;
}

.SeeAllDeals{
  color: #f42;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
}

.SeeAllDeals:hover{
  color: #000;
}