@import url(//db.onlinewebfonts.com/c/5c773d1586db24bd45dfd4af3a4542e7?family=Shentox);

body {
    margin: 1px;
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    position: fixed;
    top: 1px;
    width: 100%;
    flex-direction: column;
  }
  
  .firstheader {
    display: none;
    visibility: hidden;
  }
  
  .unvisible,
  .unvisibles {
    display: none;
    visibility: hidden;
  }
  
  .secondheader {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    order: 1;
  }
  
  .logo {
    order: 1;
    height: 40px;
    width: 70px;
    background-color: black;
  }
  
  .logo img {
    height: 35px;
    width: 60px;
  }
  
  .secondheader .icons {
    order: 2;
    font-size: 20px;
  }
  
  .thirdheader {
    width: 100%;
    background-color: #FFDD33;
    order: 2;
  }
  
  .container-images3 a,
  p {
    color: rgb(100, 99, 99);
    font-size: 14px;
    text-decoration: none;
  }
  
  .thirdheader p {
    margin-left: 10%;
    color: #000;
  }
  
  .fa-search {
    color: #000;
  }
  
  .fa-bars {
    margin: 10px;
    color: #f42;
    margin-right: 20px;
  }
  
  
  
  .title-1 a {
    margin-left: 100px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }
  
  footer{
  width:100%;
}

.footer1 {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  background-color: #131313;
  height: 200px;
}

.footer {
  background-color: #000;
  height: 200px;
  align-items: center;
}

.footer-icons {
  grid-row-start: 1;
  padding-top: 50px;
  vertical-align: middle;
}

.footer img {
  width: 60px;
  height: 20px;
}

.footer-logo{
    margin:43px 14px 0px 14px;
    height: 15px;
    width: 30px;
}

.stackpath{
    margin:20px 10px -8px 10px;
}

.footer-icons i {
  font-size: 16px;
  padding: 12px;
  color: white;
  margin-left: -2px;
  margin-top: -3px;
}

.icon {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #333;
  margin: 7px;
  border: 2px solid #333;
  align-items: center;
}

.icon:hover {
  background-color: #000;
}

.lasts-links {
  grid-row-start: 2;
  margin-left: 78px;
}

.lasts-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
}

.lasts-links a:hover {
  color: white;
}

footer{
  width: 100%;
}

.footer span {
  color: #aaaa;
  font-size: 13px;
  align-self: center;
}

.footer .footer-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: -30px;
}

.footer-page img {
  order: 1;
}

.footer-page span {
  order: 1;
}

  .conateiner1 {
    width: 100%;
  max-width: 100%;
  }
  
  .container1 {
    display: grid;
    grid-template-rows: 100%;
    align-self: center;
    margin: auto;
    margin-bottom: 250px;

  }
  
  .mini-container2 {
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.95)
      ),
      url(./next-web-images/next-web2.webp);
    height: 180px;
    width: 100%;
    background-position: center;
    align-content: center;
  }
  
  .mini-container1,
  .mini-container2,
  .mini-container3 {
    margin:10px 10px 10px 10px;
    display: grid;
    grid-template-rows: 40% 60%;
  }
  
  .mini-container1 {
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.95)
      ),
      url(./next-web-images/next-web1.jpg);
    height: 180px;
    width: 100%;
    margin-top: 87px;
    background-position: center;
    align-content: center;
  }
  
  .mini-container3 {
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.95)
      ),
      url(./next-web-images/next-web3.webp);
    height: 180px;
    width: 100%;
    background-position: center;
    align-content: center;
    margin-bottom: 250px;
  }
  
  .highlight-title {
    font-size: 20px;
    color: #fff;
    font-family: "Anton", sans-serif;
    font-weight: 800;
    letter-spacing: -0.015em;
    line-height: 20px;
    margin-bottom: 1px;
    text-decoration: none;
  }
  
  .item1 {
    float: left;
    margin-left: 10px;
    grid-row-start: 2;
    vertical-align: text-bottom;
  }
  
  .mini-container1 .item1 {
    grid-row-start: 2;
  }
  
  .TNW-logo,
  .date {
    display: none;
    visibility: hidden;
  }
  
  .article-author {
    color: #fff9;
    font-size: 12px;
  }
  
  .author {
    color: #fff9;
    text-decoration: none;
  }
  
  .author:hover {
    color: #fff;
  }
  
  .container-titles {
    color: #f42;
    font-size: 28px;
    font-family: "Anton", sans-serif;
    text-decoration: none;
    font-weight: 800;
  }
  
  .container-titles:hover {
    color: black;
  }
  
  .horizontal-line {
    display: none;
    visibility: hidden;
  }
  
  .about {
    color: #f42;
    text-decoration: none;
  }
  
  .about:hover {
    color: black;
  }
  
  .container3-items-row1 .container-images3 img {
    width: 100%;
    height: 150px;
  }
  
  .container3 {
    margin: 20px;
    margin-bottom: 200px;
  }
  
  .fa-tag,
  .fa-briefcase {
    margin: 5px;
    color: black;
    width: 16px;
    height: 16px;
    margin-left: 15px;
  }
  
  .container-images3 .hover:hover {
    color: black;
  }
  
  .container-images3 .page1 {
    margin-left: 15px;
  }
  
  .container-images {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .colors {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
  }
  
  .orange {
    order: 1;
    height: 40px;
    width: 100%;
    background-color: #f42;
  }
  
  .pink {
    order: 2;
    height: 50px;
    width: 100%;
    background-color: #f7c5bb;
    margin-top: -55px;
  }
  
  .title-1 {
    margin-top: -50px;
    margin-left: 100px;
  }
  
  .price {
    text-decoration: none;
    color: #000;
    font-weight: 550;
    font-size: 20px;
  }
  
  .type {
    text-decoration: none;
    color: #555;
  }
  
  .type p {
    font-family: "Shentox";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .04em;
    margin-top: -1px;
  }
  
  .title-2 {
    margin-left: 100px;
    margin-top: -50px;
  }
  
  .container-images3 {
    background-color: #faeeeb;
    height: 180px;
    width: 100%;
    margin-top: -13px;
    margin-bottom: 20px;
  }
  
  .img {
    height: 60px;
    width: 60px;
    margin: 10px;
    margin-top: -72px;
  }

